@charset UTF-8;

fieldset
{
  border:0;
}

.salsa legend
{
  background-color:#002950;
  text-transform:uppercase;
  border-bottom:1px solid #333;
  font-size:20px!important;
  text-align:left;
  text-shadow:-1px -1px 0 #000;
  clear:both;
  width:300px;
  color:#EDEDED!important;
  padding:2px 8px!important;
}

span.required
{
  color:#C00;
}

.salsa input,#content .salsa select,.salsainput
{
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #CCC;
  font-family:inherit;
  font-size:14px;
  font-weight:300;
  height:auto;
  letter-spacing:.2px;
  width:160px;
  padding:8px!important;
}

#content .salsa select
{
  height:auto;
}

.salsa input:focus,.salsa select:focus,.salsainput:focus
{
  outline:none;
  border:1px solid #ccc;
  -moz-box-shadow:#85ADAD 0 0 10px inset!important;
  -webkit-box-shadow:#85ADAD 0 0 10px inset!important;
  box-shadow:#85ADAD 0 0 10px inset!important;
}

.salsa select
{
  height:28px;
}

.salsa #ccExpMonth,.salsa #ccExpYear
{
  width:50px;
}

.salsa #donation_amount #donation_pay_periods,#content .salsa #donation_amount #donation_term
{
  width:115px;
}

.salsa #donation_amount input
{
  height:14px;
  width:14px;
}

.salsa #donation_amount #otheramt
{
  width:70px;
  height:24px;
  font-size:18px;
}

.salsa textarea
{
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #CCC;
  font-family:inherit;
  font-size:14px;
  font-weight:300;
  width:225px;
}

#cc_number
{
  width:190px!important;
}

#CVV2,#amountOther
{
  width:45px!important;
}

#zip_code
{
  width:95px!important;
}

#cc_month,#cc_year
{
  width:75px!important;
}

#state_select,#cc_month,#cc_year,.salsa select
{
  -moz-border-radius:5px;
  border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border:1px solid #CCC;
  font-family:inherit;
  font-size:14px;
  font-weight:300;
  height:30px;
  letter-spacing:.2px;
  width:190px;
  padding:4px;
}

#state_select:focus,#cc_month:focus,#cc_year:focus
{
  -moz-box-shadow:#85ADAD 0 0 10px inset!important;
  -webkit-box-shadow:#85ADAD 0 0 10px inset!important;
  box-shadow:#85ADAD 0 0 10px inset!important;
}

.checkbox
{
  margin:3px 8px 3px -22px;
}

#eligibilitycheckL
{
  margin-left:22px;
}

.cardtypes_js input
{
  display:none;
}

.salsainput
{
  margin-bottom:10px;
}

body #salsa-unsubscribe-form input.submit
{
  color:#fff;
  width:auto;
  padding:5px;
}

.salsa label,.spanLabel
{
  display:block;
  clear:both;
  font-size:14px;
  color:#444;
  margin-top:5px;
  padding-left:3px;
}

#donation_recurring .spanLabel
{
  display:inline;
}

#donation_amounts label,#donation_amount_other label
{
  font-size:14px;
  color:#000;
  font-weight:300;
}

#donation_recurring label
{
  font-size:13px;
  color:#000;
  font-weight:300;
}

.selectedAmount + span,.selectedAmount + span label
{
  font-weight:700!important;
}

label:hover
{
  cursor:pointer;
  color:#036!important;
}

.salsa #submitContribution,.salsa input[type="submit"],.salsa #submitZipCode,#salsa-unsubscribe-form input[type="submit"],.submitButton
{
  background:url(https://assets.trilogyinteractive.com/shared/img/alert-overlay.png) repeat-x;
  display:inline-block;
  color:#fff;
  width:auto;
  text-decoration:none;
  line-height:1;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none!important;
  position:relative;
  cursor:pointer;
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
  text-shadow:0 -1px 1px rgba(0,0,0,0.25);
  font-size:18px;
  font-weight:700!important;
  background-color:#C00;
  text-transform:uppercase;
  margin-bottom:10px;
  height:auto;
  padding:9px 16px;
}

.salsa #submitContribution:hover,.salsa input[type="submit"]:hover,.salsa #submitZipCode:hover,#salsa-unsubscribe-form input[type="submit"]:hover,.submitButton:hover
{
  background-color:#900;
  color:#fff;
}

.salsa #submitContribution:active,.salsa input[type="submit"]:active,.salsa #submitZipCode:active,#salsa-unsubscribe-form input[type="submit"]:active,.submitButton:active
{
  top:1px;
}

.message,div.error
{
  border:1px solid;
  font-weight:700;
  text-align:center;
  color:#d8000c;
  background:none repeat scroll 0 0 #ffbaba;
  width:70%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:15px;
  padding:5px;
}

input.error,#state_select.error,#cc_month.error,#cc_year.error
{
  -moz-box-shadow:#C11B17 0 0 10px inset;
  -webkit-box-shadow:#C11B17 0 0 10px inset;
  box-shadow:#C11B17 0 0 10px inset;
  margin-left:none!important;
  margin-right:none!important;
}

#donation_amounts input,#donation_recurring input,#confirm_eligibility input,#submit,#salsa-unsubscribe-form input[type="radio"],#salsa-unsubscribe-form input[type="checkbox"]
{
  width:auto;
  height:auto;
}

#submitDiv #submitButton {
  margin:25px;
}

.salsa .diaFields textarea {
  width:200px;
}

.supporterInfo' {
  margin-bottom:15px;
}

.salsa .formRow {
  clear:both;
}



.validate-error {
  -moz-box-shadow:#C11B17 0 0 10px inset;
  -webkit-box-shadow:#C11B17 0 0 10px inset;
  box-shadow:#C11B17 0 0 10px inset;
  background-color:#FFBABA;
}

label.validate-error {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  color: red!important;
  padding: 5px;
}

#signers-page.mobile {
  display: none;
}